frontend/tenancyTrack/node_modules/
frontend/tenancyTrack/build/
frontend/tenancyTrack/dist/
frontend/tenancyTrack/src/environments/*.ts
frontend/tenancyTrack/npm-debug.log
frontend/tenancyTrack/*.log
frontend/tenancyTrack/*.tmp
frontend/tenancyTrack/vscode/
frontend/tenancyTrack/idea/
frontend/tenancyTrack/*.js
frontend/tenancyTrack/*.map
frontend/tenancyTrack/*.angular/