client/node_modules/
client/build/
client/dist/
client/src/environments/*.ts
client/npm-debug.log
client/*.log
client/*.tmp
client/vscode/
client/*.js
client/*.map
client/*.angular/

###api
masqaniAPI/.idea/
masqaniAPI/*.iws
masqaniAPI/*.iml
masqaniAPI/*.ipr
masqaniAPI/HELP.md
masqaniAPI/target/
masqaniAPI/!.mvn/wrapper/maven-wrapper.jar
masqaniAPI/!**/src/main/**/target/
masqaniAPI/!**/src/test/**/target/
